<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello</title>
	</head>
	<body>
		<p>Flask Prototype<p>
		<form method="post" action="/submitinput">
			<input type="text" name="textinput" style="width: 500px; height: 100px;">
			<br>
			<br>
			<input type="submit" value="Submit">
		</form>
		<form method="post" action="/showmsgs">
			<input type="submit" value="Display">
		</form>
		<p>{{status}}</p>
		<br>
		{% for item in messages %}
		<p>{{item.0}}    {{item.1}}</p>
		{% endfor %}
	</body>
</html>
