{% extends "./form.html" %}
{% block buttongroup %}
    <div class="form-group">        
		<!-- Submission buttons are hidden once the user submits their answers -->
		{% if not hide_buttons %}
		<!-- The value of 1 is just so that we can get the 'name' from request.POST.get('...') -->
		<button class="btn btn-outline-info" name="save" value="1" type="submit">Submit Answers</button>
        <button class="btn btn-outline-info float-right" name="temp_save" value="1" type="submit">Save Draft</button>
		{% endif %}
    </div>
{% endblock buttongroup %}
