{% extends "./form.html" %}
{% block buttongroup %}
    <div class="form-group">        
        <button class="btn btn-outline-info" name="save" value={{numQuestions}} type="submit">Submit Form</button>
        <button class="btn btn-outline-info float-right" name="remove" value={{numQuestions}} type="submit">Remove Last Question</button>
        <button class="btn btn-outline-info float-right" name="add" value={{numQuestions}} type="submit">Add Question</button>
    </div>
{% endblock buttongroup %}
