<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p> 
        You have been registered as a {{role}} for UNESCO indigenous educational research.<br><br>
        Your username: {{username}}<br>
        Your password: {{temp_password}}<br><br>
        This is a temporary password. Please login with the above credentials and change your password by clicking the link:<br>
        <a href="http://159.89.124.218:8000{% url 'change-password' %}">159.89.124.218:8000{% url 'change-password' %}</a><br><br>
        Thank you for using our site!<br>
        </p>
    </body>
</html>

