{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create a New Form!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">        
                <button class="btn btn-outline-info" name="add" value={{numQuestions}} type="submit">Add Question</button>
                <button class="btn btn-outline-info" name="remove" value={{numQuestions}} type="submit">Remove Last Question</button>
                <button class="btn btn-outline-info float-right" name="save" value={{numQuestions}} type="submit">Save Form</button>
            </div>
        </form>
    </div>
{% endblock content %}
