{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_staff %}
        <div class="content-section">
            <h2 class="h2 border-bottom mb-4">Current Forms</h2>
            <ul class="list-group" style="margin-bottom: 30px">
                {% for form in forms %}
                    <li class="list-group-item">
                        <a class="mr-2" style="text-overflow: ellipsis; max-width: 75%" href="{% url 'form-edit' form.id %}">{{form.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <a class="btn btn-outline-info" href="form-create/">New Form</a>
        </div>
    {% else %}
    <div class="content-section">
            <h2 class="h2 border-bottom mb-4">Forms to Answer</h2>
            <ul class="list-group" style="margin-bottom: 30px">
                {% for form in forms %}
                    <li class="list-group-item">
                        <a class="mr-2" style="text-overflow: ellipsis; max-width: 75%" href="{% url 'form-answer' form.id %}">{{form.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}
