{% extends "project/base.html" %}
{% block content %}
	<h1>Announcemensts</h1>
	<div class="content-section">
	{% for posts in posts %}
	<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <small class="text-muted">{{ posts.CreationTime }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ posts.Title }}</a></h2>
		    <p class="article-content">{{ posts.Content }}</p>
		  </div>
	</article>
	{% endfor %}
	</div>
{% endblock content %}