{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom mb-4">Manage Institutions</legend>
        <p>Select an Institution to update.</p>
        <div>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'institution-create' %}">+ Add Institution</a>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="#">Export (.csv)</a>
        </div>
    {% for inst in institutions %}
        <a class="list-group-item" href="{% url 'institution-update' inst.id %}">{{inst.name}}</a>
    {% endfor %}
    </div>
{% endblock content %}
